@import '../../variables.scss';

.card-img {
  width: $cardWidth;
  max-width: $cardWidth;
  min-width: $cardWidth;

  img {
    width: $cardWidth;
    max-width: $cardWidth;
    min-width: $cardWidth;
  }
}
