@media all and (min-width: 991px) {
  .dropdown:after {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 0.15s ease-in-out;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    pointer-events: none;
  }
  .dropdown.show .nav-link {
    position: relative;
    z-index: 12;
  }
  .dropdown.show:after {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    position: fixed;
  }
}
