@import '../../variables.scss';

header {
  padding: 10px 20px;
  border-bottom: 2px solid $color2;
  background-color: $color1;
  z-index: 30;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.backdrop {
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  opacity: 0.5;
  z-index: 10;

  &.open {
    display: block;
  }
}
